.viewerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.canvasBox {
  width: 500px;
  height: 400px;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

.controls {
  margin-top: 20px;
  width: 500px;
}

.variants,
.themes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
}

.btn {
  padding: 8px 14px;
  border-radius: 6px;
  background: #fff;
  border: 1px solid #aaa;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #eee;
}

.activeBtn {
  padding: 8px 14px;
  background: #333;
  color: #fff;
  border: 1px solid #000;
  border-radius: 6px;
}
